.features .container {
  border: 1px solid #dad9d3;
  margin-top: 50px;
}
@media (min-width: 1400px) {
  .features .container {
    max-width: 1520px;
    margin-top: 100px;
  }
}
@media (min-width: 1200px) {
  .features .container {
    display: grid;
    grid-template-columns: 45% auto;
  }
}
.features .container .section-title {
  padding: 60px;
}
.features .container .section-title p {
  text-align: center;
}
.features .container .section-title h2 {
  text-align: center;
  margin-bottom: 60px;
}
.features .container .section-title .btn-yellow {
  text-align: center;
  display: block;
}
@media (min-width: 1200px) {
  .features .container .section-title {
    padding: 80px 150px 150px 80px;
  }
  .features .container .section-title h2 {
    margin-bottom: 40px;
    font-size: 35px;
    text-align: left;
  }
}
@media (min-width: 1200px) and (min-width: 1400px) {
  .features .container .section-title h2 {
    font-size: 45px;
  }
}
.features .container .content-boxes {
  display: none;
}
@media (min-width: 1200px) {
  .features .container .content-boxes {
    padding: 80px 150px 0px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
  .features .container .content-boxes h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
  }
}