
.article-side{

    .container{   
        display: flex;
    
        .article{
            padding-top: 120px;
            margin-right: 100px;
            flex: 1;

            .title{
                padding-bottom: 10px;
                font-family: "DM Sans", sans-serif;
                font-size: 45px;
                font-weight: 700;

            }
            .subject{
                padding-bottom: 50px;
                i{
                    font-size: 10px;
                    padding:0px 10px 5px 10px;
                    color: #F9D783;
                }

            }
            img{
                width:  100%;
                height: auto;   
                padding-bottom: 50px;
            

            }
            .content{     
                padding-bottom: 50px;      

                h4{
                    font-size: 22px;
                    font-family: "DM Sans", sans-serif;
                    padding: 30px;
                }

            }
        }

        .right-box{
            flex: 0.4;
            padding-top: 270px;
          

            .search{
                padding-bottom: 40px;
                
                input{
                    padding: 12px 15px;
                    border-radius: 25px;
                    border: none;
                    background-color: #eaeaea;
                }
            }

            .recent{
                border: 1px solid rgb(165, 163, 163);
                padding: 20px;

                h5{
                    font-size: 22px;
                    font-family: "DM Sans", sans-serif;
                    font-weight: 700; 
                    border-bottom: 1px solid grey;  
                    margin-bottom: 40px;
                }

                .recent-box{
                    p {
                        font-family: "DM Sans", sans-serif;
                        font-weight: 700;                
                    }
                    .date{
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }     
            
            .category{
                border: 1px solid rgb(165, 163, 163);
                margin-top: 50px;
                padding: 20px;

                h5{
                    font-size: 22px;
                    font-family: "DM Sans", sans-serif;
                    font-weight: 700; 
                    border-bottom: 1px solid grey;  
                    margin-bottom: 40px;
                }
                p {
                    font-family: "DM Sans", sans-serif;
                    font-weight: 700;                
                }
            }
        }
    }
}