.article-side .container {
  display: flex;
}
.article-side .container .article {
  padding-top: 120px;
  margin-right: 100px;
  flex: 1;
}
.article-side .container .article .title {
  padding-bottom: 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.article-side .container .article .subject {
  padding-bottom: 50px;
}
.article-side .container .article .subject i {
  font-size: 10px;
  padding: 0px 10px 5px 10px;
  color: #F9D783;
}
.article-side .container .article img {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.article-side .container .article .content {
  padding-bottom: 50px;
}
.article-side .container .article .content h4 {
  font-size: 22px;
  font-family: "DM Sans", sans-serif;
  padding: 30px;
}
.article-side .container .right-box {
  flex: 0.4;
  padding-top: 270px;
}
.article-side .container .right-box .search {
  padding-bottom: 40px;
}
.article-side .container .right-box .search input {
  padding: 12px 15px;
  border-radius: 25px;
  border: none;
  background-color: #eaeaea;
}
.article-side .container .right-box .recent {
  border: 1px solid rgb(165, 163, 163);
  padding: 20px;
}
.article-side .container .right-box .recent h5 {
  font-size: 22px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid grey;
  margin-bottom: 40px;
}
.article-side .container .right-box .recent .recent-box p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.article-side .container .right-box .recent .recent-box .date {
  font-weight: 400;
  font-size: 14px;
}
.article-side .container .right-box .category {
  border: 1px solid rgb(165, 163, 163);
  margin-top: 50px;
  padding: 20px;
}
.article-side .container .right-box .category h5 {
  font-size: 22px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid grey;
  margin-bottom: 40px;
}
.article-side .container .right-box .category p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}